.box1 {
  width: 100vw; /* Covering full viewport width */
  height: 720px; /* Covering 56% of viewport height */
  background-image: url("../assests/section-hero.png"); /* Background image path */
  background-repeat: no-repeat; /* Don't repeat the background image */
  background-size: cover; /* Cover the entire container */
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden; /* Hide overflowing content */
}

.layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.layer .content span {
  color: white;
  font-size: 40px;
  font-weight: 400;
}

.layer .content p {
  color: white;
  width: 45%;
  height: 20%;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.layer .content img {
  width: 320px;
}

.content a {
  width: 120px;
  height: 36px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #8ac92a;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  letter-spacing: 1px;
}

.box2 {
  width: 100vw;
  height: 614.4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box2 .sub-content1 {
  width: 80%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.box2 .sub-content1 span1 {
  font-size: 64px;
  font-weight: 300;
}

.box2 .sub-content1 span2 {
  font-size: 32px;
  color: #000;
  font-weight: 800;
}
.box2 .sub-content1 span2 span3 {
  color: #8ac92a;
}
.box2 .sub-content1 p {
  font-size: 16px;
  color: #808080;
  font-weight: 500;
}

.box2 .sub-content2 {
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box2 .sub-content2 .card {
  width: 220px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.box2 .sub-content2 .card svg {
  color: #8ac92a;
  font-size: 35px;
  padding-left: 20px;
  /* padding-bottom: 20px; */
  overflow: hidden;
}

.box2 .sub-content2 .card span1 {
  text-transform: uppercase;
  color: #1a1a1a;
  font-size: 20;
  font-weight: 700;
}

.box2 .sub-content2 .card span2 {
  width: 90%;
  font-size: 14px;
  color: #808080;
  text-align: left;
  text-align: justify;
  /* padding-top: 20px; */
}

.box3 {
  width: 100vw;
  height: 482.3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box3 .sub-content1 {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.box3 .sub-content1 span1 {
  color: #1a1a1a;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}
.box3 .sub-content1 span1 span2 {
  color: #8ac92a;
}
.box3 .sub-content1 p {
  font-size: 16px;
  color: #808080;
  font-weight: 400;
}

.box3 .sub-content2 {
  width: 80%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(172, 224, 94);
  background: linear-gradient(
    180deg,
    rgba(172, 224, 94, 1) 0%,
    rgba(101, 166, 3, 1) 100%
  );
  overflow: hidden;
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  position: relative;
}

.box3 .sub-content2 .img {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3 .sub-content2 .content {
  width: 50%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.box3 .sub-content2 .content span {
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

.box3 .sub-content2 .content span1 {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.box3 .sub-content2 .content p {
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.box3 .sub-content2 .content a {
  border: solid white 2px;
  background-color: transparent;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
}

.box4 {
  width: 100vw;
  height: 398px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  padding-bottom: 120px;
}

.box4 .card {
  width: 38%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
}

.box4 .card .img {
  width: 45%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box4 .card .content {
  width: 55%;
  height: 96%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 20px 0 20px;
}
.box4 .card .content span1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.box4 .card .content span2 {
  font-size: 14px;
  color: #65a603;
  font-weight: 500;
}
.box4 .card .content span3 {
  font-size: 14px;
  color: #808080;
  font-weight: 500;
}
.box4 .card .content p {
  font-size: 14px;
  color: #808080;
  font-weight: 500;
  text-align: justify;
}
.box4 .card .content a {
  text-transform: uppercase;
}

.box5 {
  width: 100vw;
  height: 630.7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box5 .divison {
  width: 85%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box5 .divison .sub-divison1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.box5 .divison .sub-divison2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.box5 .divison .sub-divison1 span {
  color: #1a1a1a;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}
.box5 .divison .sub-divison1 span span1 {
  color: #8ac92a;
}
.box5 .divison .sub-divison1 span2 {
  font-size: 16px;
  color: #808080;
  font-weight: 400;
}
.box5 .divison .sub-divison2 a {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #999999 2px;
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  text-decoration: none;
  text-transform: uppercase;
}

.box5 .divison1 {
  width: 85%;
  height: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.box5 .divison1 .card {
  width: 23%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
  overflow: hidden;
}

.box5 .divison1 .card .img {
  width: 100%;
  height: 45%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box5 .divison1 .card .content {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 10px;
}
.box5 .divison1 .card .content span {
  font-size: 24px;
  font-weight: 700;
  color: #1a1a1a;
  text-transform: uppercase;
}
.box5 .divison1 .card .content span1 {
  font-size: 14px;
  font-weight: 400;
  color: #65a603;
}
.box5 .divison1 .card .content span2 {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
}
.box5 .divison1 .card .content p {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  text-align: justify;
  padding-right: 20px;
}
.box5 .divison1 .card .content a {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: solid #999999 2px;
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  text-transform: uppercase;
}

.box6 {
  width: 100vw;
  height: 385.84px;
  background-image: url("../assests/container.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.box6 .layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.box6 .layer .content {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box6 .layer .content span {
  color: white;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}
.box6 .layer .content span span1 {
  color: #8ac92a;
}
.box6 .layer .content span2 {
  font-size: 16px;
  color: white;
  font-weight: 300;
}

.box6 .layer .content1 {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.box6 .layer .content1 .sub-box {
  width: 40%;
  height: 30%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(34px);
  backdrop-filter: drop-shadow(0px 5px 8px rgb(0, 0, 0, 0.25));
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}
.box6 .layer .content1 .sub-box .circle {
  background-color: #c1e58a;
  width: 50px;
  height: 50px;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box6 .layer .content1 .sub-box .circle {
  font-size: 24px;
  color: black;
  font-weight: 800;
}
.box6 .layer .content1 .sub-box .option {
  font-size: 20px;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 20px;
}

.box7 {
  width: 100vw;
  height: 519.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box7 .card {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.box7 .img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box7 .img img {
  height: 100%;
}

.box7 .content {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  padding-left: 20px;
}
.box7 .content span {
  color: #1a1a1a;
  font-size: 32px;
  font-weight: 800;
}
.box7 .content span span1 {
  color: #8ac92a;
}
.box7 .content span span3 {
  font-size: 20px;
}
.box7 .content span2 {
  font-size: 64px;
  color: #8ac92a;
}
.box7 .content p {
  width: 90%;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  text-align: justify;
}
.box7 .content a {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box8 {
  width: 100vw;
  height: 445.2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
.box8 .sub-content1 {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box8 .sub-content1 span {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  color: #1a1a1a;
}
.box8 .sub-content1 span span1 {
  color: #8ac92a;
}

.box8 .sub-content2 {
  width: 80%;
  height: 50%;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box8 .sub-content2 .card {
  width: 33.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.box8 .sub-content2 .card .img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  outline: solid 3.8px #65a603;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box8 .sub-content2 .card .img img {
  width: 120px;
}

.box8 .sub-content2 .card span {
  text-align: center;
  width: 85%;
  font-size: 14px;
  color: #1a1a1a;
  font-style: italic;
}

.box8 .sub-content2 .card .stroke {
  width: 120px;
  height: 5px;
  background-color: #8ac92a;
}

.box8 .sub-content2 .card span1 {
  text-align: center;
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 700;
}
.box8 .sub-content3 {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box8 .sub-content3 .arrow1 {
  width: 25px;
  height: 25px;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  background-color: #518502;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
.box8 .sub-content3 .arrow2 {
  width: 25px;
  height: 25px;
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  background-color: #8ac92a;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
