.box1 {
  width: 100vw; /* Covering full viewport width */
  height: 720px; /* Covering 56% of viewport height */
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden; /* Hide overflowing content */
}

.layer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.layer img {
  animation: wiggleImage 2s ease-in-out infinite alternate;
  /* transition: transform 1s ease-in-out; */
}
@keyframes wiggleImage {
  0% {
    transform: rotateZ(-5deg); /* Start rotation */
    transform: translate(5px, 5px);
  }
  100% {
    transform: rotateZ(5deg); /* End rotation */
    transform: translate(-15px, -5px);
  }
}

.box1 .content {
  width: 50%;
  height: 62%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow: hidden;
  padding-left: 120px;
}

.box1 .content span {
  color: white;
  font-size: 60px;
  font-weight: 400;
}

.box1 .content p {
  color: white;
  width: 65%;
  /* height: 50%; */
  line-height: 1.6;
  letter-spacing: 0.8px;
  text-wrap: wrap;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.box1 .content img {
  width: 320px;
}

.box1 .content a {
  width: 120px;
  height: 36px;
  border-radius: 120px;
  border: none;
  color: #fff;
  background-color: transparent;
  outline: 2px solid #315cfd;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}
.box1 .content a:hover {
  background: #315cfd;
  color: #fff;
  font-size: 13px;
}

.box2 {
  width: 100vw;
  height: 614.4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box2 .sub-content1 {
  width: 80%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.box2 .sub-content1 span1 {
  font-size: 64px;
  font-weight: 300;
  color: white;
}

.box2 .sub-content1 span2 {
  font-size: 32px;
  color: #fff;
  font-weight: 800;
}
.box2 .sub-content1 span2 span3 {
  background: -webkit-linear-gradient(
    45deg,
    rgba(253, 178, 93, 1) 0%,
    rgba(68, 54, 202, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box2 .sub-content1 p {
  font-size: 16px;
  color: #cccccc;
  font-weight: 500;
}

.box2 .sub-content2 {
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box2 .sub-content2 .card {
  width: 220px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.box2 .sub-content2 .card svg {
  color: rgb(253, 178, 93);
  font-size: 35px;
  padding-left: 20px;
  overflow: hidden;
}

.box2 .sub-content2 .card span1 {
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.box2 .sub-content2 .card span2 {
  width: 90%;
  font-size: 14px;
  color: #cccccc;
  text-align: left;
  text-align: justify;
}

.box3 {
  width: 100vw;
  height: 482.3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 20px;
}

.box3 .sub-content1 {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.box3 .sub-content1 span1 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}
.box3 .sub-content1 span1 span2 {
  background: -webkit-linear-gradient(
    45deg,
    rgba(253, 178, 93, 1) 0%,
    rgba(68, 54, 202, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box3 .sub-content1 p {
  font-size: 16px;
  color: #cccccc;
  font-weight: 400;
}

.box3 .sub-content2 {
  width: 1228.8px;
  height: 361.725px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: all ease 0.3s;
  position: relative;
  overflow: hidden;
}
.box3 .sub-content2:hover {
  box-shadow: 0px 0px 20px 6px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.box3 .sub-content2 .img {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3 .sub-content2 .content {
  width: 50%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.box3 .sub-content2 .content span {
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

.box3 .sub-content2 .content span1 {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.box3 .sub-content2 .content p {
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.box3 .sub-content2 .content a {
  width: 120px;
  height: 36px;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(99, 88, 238, 1);
  color: white;
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 120px;
  text-decoration: none;
}
.box3 .sub-content2 .content a:hover {
  transform: scaleX(1);
  background: rgba(150, 93, 233, 1);
}

.box4 {
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box4 .sub-box {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 0px 20px 0px 20px;
  flex-wrap: wrap;
}
.box4 .sub-box .card {
  width: 600px;
  height: 238.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.box4 .sub-box .card:hover {
  box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.4);
}

.box4 .sub-box .card .sub-card {
  width: 600px;
  height: 238.8px;
  border-radius: 10px;
  background-color: #1d1724;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  cursor: pointer;
  overflow: hidden;
}

.box4 .sub-box .card .sub-card:hover {
  transform: scale(0.98);
  border-radius: 20px;
}
.box4 .sub-box .card .sub-card .img {
  width: 40%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box4 .sub-box .card .sub-card .content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 20px;
}
.box4 .sub-box .card .sub-card .content span {
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.box4 .sub-box .card .sub-card .content span2 {
  font-size: 12px;
  font-weight: 400;
  color: white;
}
.box4 .sub-box .card .sub-card .content p {
  width: 90%;
  font-size: 13px;
  font-weight: 400;
  color: white;
  text-align: justify;
  padding-right: 20px;
  overflow: hidden;
}
.box4 .sub-box .card .sub-card .content a {
  width: 100px;
  height: 30px;
  border-radius: 120px;
  background-color: rgba(99, 88, 238, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  overflow: hidden;
  text-decoration: none;
}

.box4 .sub-box .card .sub-card .content a span {
  z-index: 1;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.box4 .sub-box .card .sub-card .content a:hover {
  transform: scaleX(1);
  background: rgba(150, 93, 233, 1);
}

.box5 {
  width: 100vw;
  height: 1261.4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.box5 .divison {
  width: 1228.8px;
  height: 94.605px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box5 .divison .sub-divison1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.box5 .divison .sub-divison2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.box5 .divison .sub-divison1 span {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}
.box5 .divison .sub-divison1 span span1 {
  background: -webkit-linear-gradient(
    45deg,
    rgba(253, 178, 93, 1) 0%,
    rgba(68, 54, 202, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box5 .divison .sub-divison1 span2 {
  font-size: 16px;
  color: #cccccc;
  font-weight: 400;
}
.box5 .divison .sub-divison2 a {
  width: 120px;
  height: 30px;
  text-decoration: none;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  outline: 2px solid #315cfd;
  transition: all 0.3s;
  text-decoration: none;
  text-transform: uppercase;
}
.box5 .divison .sub-divison2 a:hover {
  background: #315cfd;
  color: #fff;
  font-size: 15px;
}

.box5 .divison1 {
  width: 1228.8px;
  height: 1072.19px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  padding: 0px 20px 0px 20px;
}
.box5 .divison1 .card {
  width: 360px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.box5 .divison1 .card:hover {
  box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.4);
}

.box5 .divison1 .card .sub-card {
  width: 360px;
  height: 460px;
  border-radius: 10px;
  background-color: #1d1724;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  cursor: pointer;
  overflow: hidden;
}

.box5 .divison1 .card .sub-card:hover {
  transform: scale(0.98);
  border-radius: 18px;
}

.box5 .divison1 .card .sub-card .img {
  width: 100%;
  height: 45%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box5 .divison1 .card .sub-card .content {
  width: 90%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.box5 .divison1 .card .sub-card .content span {
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.box5 .divison1 .card .sub-card .content span1 {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.box5 .divison1 .card .sub-card .content span2 {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.box5 .divison1 .card .sub-card .content p {
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-align: justify;
}
.box5 .divison1 .card .sub-card .content a {
  width: 120px;
  height: 40px;
  border-radius: 120px;
  background-color: rgba(99, 88, 238, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
  overflow: hidden;
}
.box5 .divison1 .card .sub-card .content a span {
  z-index: 1;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
.box5 .divison1 .card .sub-card .content a:hover {
  transform: scaleX(1);
  background: rgba(150, 93, 233, 1);
}

.box6 {
  width: 100vw;
  height: 385.84px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box6 .layer {
  width: 1228.8px;
  height: 385.84px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(253, 178, 93);
  background: linear-gradient(
    45deg,
    rgba(253, 178, 93, 1) 0%,
    rgba(68, 54, 202, 1) 100%
  );
  overflow: hidden;
}
.box6 .layer .content {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box6 .layer .content span {
  color: white;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}
.box6 .layer .content span span1 {
  color: #ffb441;
}
.box6 .layer .content span2 {
  font-size: 16px;
  color: white;
  font-weight: 300;
}

.box6 .layer .content1 {
  width: 737.28px;
  height: 231.504px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.box6 .layer .content1 .sub-box {
  width: 330.912px;
  height: 69.4512px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  transition: transform 0.2s;
}

.box6 .layer .content1 .sub-box:hover {
  transform: translate(0, -5px);
}

.box6 .layer .content1 .sub-box .circle {
  background-color: #c1e58a;
  width: 50px;
  height: 50px;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box6 .layer .content1 .sub-box .circle {
  font-size: 20px;
  color: black;
  font-weight: 700;
}
.box6 .layer .content1 .sub-box .option {
  width: 260px;
  font-size: 12px;
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  text-wrap: wrap;
  padding-left: 20px;
}

.box7 {
  width: 100vw;
  height: 519.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box7 .card {
  width: 1228.8px;
  height: 361.725px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: all ease 0.3s;
}

.box7 .card:hover {
  box-shadow: 0px 0px 20px 6px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.box7 .img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box7 .img img {
  height: 100%;
}

.box7 .content {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  padding-left: 20px;
}
.box7 .content span {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}
.box7 .content span span1 {
  color: #fdb25d;
}
.box7 .content span span3 {
  font-size: 20px;
}
.box7 .content span2 {
  font-size: 64px;
  color: #fdb25d;
}
.box7 .content p {
  width: 90%;
  font-size: 14px;
  font-weight: 400;
  color: #cccccc;
  text-align: justify;
}
.box7 .content a {
  width: 120px;
  height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 120px;
  font-weight: 400;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  background-color: rgba(99, 88, 238, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box7 .content a:hover {
  transform: scaleX(1);
  background: rgba(150, 93, 233, 1);
}
.box8 {
  width: 100vw;
  height: 445.2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
.box8 .sub-content1 {
  width: 1228.8px;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box8 .sub-content1 span {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}
.box8 .sub-content1 span span1 {
  background: -webkit-linear-gradient(
    45deg,
    rgba(253, 178, 93, 1) 0%,
    rgba(68, 54, 202, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box8 .sub-content2 {
  width: 1228.8px;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box8 .sub-content2 .card {
  width: 33.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  border-right: solid 1px rgba(255, 255, 255, 0.2);
}

.box8 .sub-content2 .card .img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  outline: solid 3.8px #fdb25d;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box8 .sub-content2 .card .img img {
  width: 120px;
}

.box8 .sub-content2 .card span {
  text-align: center;
  width: 85%;
  font-size: 14px;
  color: #cccccc;
  font-style: italic;
}

.box8 .sub-content2 .card .stroke {
  width: 120px;
  height: 5px;
  background-color: #fdb25d;
}

.box8 .sub-content2 .card span1 {
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}
.box8 .sub-content3 {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box8 .sub-content3 .arrow1 {
  width: 25px;
  height: 25px;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  background-color: #4436ca;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
.box8 .sub-content3 .arrow2 {
  width: 25px;
  height: 25px;
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  background-color: #ffb441;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
