.contact-body {
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}
.contact-body .box1 {
  width: 960px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.contact-body .box1 .sub-box1 {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow: hidden;
  box-sizing: border-box;
}
.contact-body .box1 .sub-box1 span {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  color: #fff;
}
.contact-body .box1 .sub-box1 .email {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60px;
}
.contact-body .box1 .sub-box1 .email span1 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.contact-body .box1 .sub-box1 .email a {
  font-size: 16px;
  text-decoration: none;
  color: #315cfd;
}
.contact-body .box1 .sub-box1 .connect {
  width: 240px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: aqua; */
}
.contact-body .box1 .sub-box1 .connect span2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.contact-body .box1 .sub-box1 .connect .icons {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}
.contact-body .box1 .sub-box1 .connect .icons a {
  text-decoration: none;
  color: #315cfd;
}

.contact-body .box2 {
  width: 960px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}
.contact-body .box2 .sub-box2 {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 10px;
}
.contact-body .box2 .sub-box2 span {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.contact-body .box2 .sub-box2 span1 {
  height: 15%;
  background: -webkit-linear-gradient(
    45deg,
    rgba(253, 178, 93, 1) 0%,
    rgba(68, 54, 202, 1) 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.contact-body .box2 .sub-box2 form {
  width: 460.8px;
  height: 85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.contact-body .box2 .sub-box2 form input {
  width: 180px;
  border-radius: 10px;
  outline: 2px solid #febf00;
  border: 0;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
  letter-spacing: 1px;
  font-size: 14px;
}
.contact-body .box2 .sub-box2 form .subject {
  width: 460.8px;
}
.contact-body .box2 .sub-box2 form .message {
  width: 460.8px;
  height: 200px;
  max-height: 210px;
  resize: vertical;
  border-radius: 10px;
  outline: 2px solid #febf00;
  border: 0;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
}
.contact-body .box2 .sub-box2 form input:focus {
  outline-offset: 5px;
  background-color: #fff;
}
.contact-body .box2 .sub-box2 form .message:focus {
  outline-offset: 5px;
  background-color: #fff;
}
