.navbar {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  border-bottom: 4px #fdb25d solid;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}
.nav-list,
.nav-logo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-logo {
  padding-left: 80px;
}

.nav-list ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  overflow: hidden;
}

/* .nav-list ul li {
  color: white;
  width: 13.67%;
  height: 50%;
  border-radius: 200px;
  display: flex;
  font-size: 13px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
} */
.nav-list ul li {
  width: 13.67%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.nav-list ul li a {
  text-decoration: none;
  color: white;
  padding-bottom: 2px;
}
/* .nav-list ul li a:active{
  color: #315cfd;
} */
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  border-bottom: 2px solid blue; 
}
.nav-list ul li:hover,
.nav-list ul li:focus {
  color: #fff;
}
.nav-list ul li:hover:after,
.nav-list ul li:focus:after {
  width: 100%;
  left: 0%;
}
.nav-list ul li:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(253, 178, 93);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
