.navbar {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  border-bottom: 4px #fdb25d solid;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}
.nav-list,
.nav-logo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-logo {
  padding-left: 80px;
}

.nav-list ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  overflow: hidden;
}

.nav-list ul li {
  color: white;
  width: 13.67%;
  height: 50%;
  border-radius: 200px;
  display: flex;
  font-size: 13px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.nav-list ul li a {
  text-decoration: none;
  color: white;
}

.nav-list ul li:hover {
  background-color: #fdb25d;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.05);
}

.nav-list ul li:active {
  background-color: #bb7a2f;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
