.navbar {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  border-bottom: 4px #8ac92a solid;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}
.nav-list,
.nav-logo {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-list ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  overflow: hidden;
}
#register {
  width: 15%;
  height: 50%;
  margin-left: 15px;
  border-radius: 200px;
  color: white;
  background-color: #8ac92a;
}
.nav-list ul li {
  width: 16.67%;
  height: 50%;
  border-radius: 200px;
  display: flex;
  font-size: 13px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: transform 0.15s;
  transition: color 0.17s ease-in-out, background-color 0.17s ease-in-out;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.nav-list ul li:hover {
  transform: translate(0, -3px);

  background-color: #8ac92a;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
