.blog-body{
    width: 100vw;
    height: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-body .boxx1{
   width: 1150px;
   height: 1000px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}
.blog-body .boxx2{
   width: 400px;
   /* background-color: rgb(6, 223, 3); */
   height: 1000px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}